@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --width-mobile: 375px;
    --width-desctop: 1440px;

    --weight-normal: 400;
    --weight-bold: 700;
    --paragraph-size: 15px;

    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.qr-wrapper {
    background-color: var(--color-white);
    width: calc(285px + 30px);
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
}

.qr-wrapper--image {
    width: 285px;
    height: 285px;
    border-radius: 15px;
}

.qr-wrapper--header {
    font-size: 22px;
    font-weight: var(--weight-bold);
    margin-top: 30px;
    color: var(--color-dark-blue);
}

.qr-wrapper--paragraph {
    margin: 30px 0 40px;
    color: var(--color-grayish-blue);
}
